---
import Accordion from '@components/Accordion.astro';
import {FAQ} from '@lib/constants';
import type {FAQItem} from '@lib/models';

const title = 'FAQ';

const faqItems: FAQItem[] = [
  {
    question: 'What types of files can I enable for conversations?',
    answer:
      'Just about any type of standard format document (.doc, .xls, .pdf, Google Docs & Sheets) and image (.png and .jpg), can be enabled for conversations.',
  },
  {
    question:
      'Once I upload or share files or documents for conversations, can I later delete them?',
    answer:
      'Yes, you maintain full control of the documents that you share with Alunex, and you revoke sharing or delete previously shared documents at any time.',
  },
  {
    question:
      'Can I enable certain documents for conversations with only certain people in my company?',
    answer:
      'Yes, fine grained document access control will be available for customers on the Enterprise plan, which will be available in Q3 2024',
  },
  {
    question: 'Does Alunex integrate with CRM and accounting systems?',
    answer:
      'We will offer integrations to Salesforce and Quickbooks in Q3 2024.',
  },
  {
    question:
      'What is the difference between Basic and Enhanced Customer Support?',
    answer:
      'Basic support is provided by our AI Support Chatbot, whereas Enhanced Support also includes support from a friendly human based in Austin, TX, our founder Bill.',
  },
];
---

<div
  id={FAQ}
  class="flex flex-col justify-center sm:pt-[110px] md:pt-[110px] md:pb-[40px] lg:pt-[230px] lg:pb-[80px] items-center"
>
  <h1
    class="text-color-main text-h4 leading-[32px] lg:text-h2 lg:leading-[48px] font-bold"
  >
    {title}
  </h1>

  <div
    class="flex flex-col md:mt-[16px] lg:mt-[32px] p-[16px] gap-y-[8px] max-w-[1000px]"
  >
    {
      faqItems.map(item => (
        <Accordion title={item.question} content={item.answer} />
      ))
    }
  </div>
</div>
