---
import Button from '@components/Button.astro';
import Facebook from '@assets/Facebook.astro';
import YouTube from '@assets/YouTube.astro';
import Instagram from '@assets/Instagram.astro';
import LinkedIn from '@assets/LinkedIn.astro';
import AlunexLogoFooter from '@assets/AlunexLogoFooter.astro';

const contactBtnText = 'Contacts';

const socialLinks = {
  youtube: '#',
  facebook: '#',
  linkedIn: '#',
  instagram: '#',
};
---

<footer
  class="w-full flex items-center justify-between px-[16px] py-[12px] border-t-[1px] border-bg-secondary"
>
  <div class="flex gap-x-[16px]">
    <a href="/"><AlunexLogoFooter /></a>

    <Button text={contactBtnText} variant="link" size="md" />
  </div>

  <div class="flex gap-x-[4px]">
    <a href={socialLinks.facebook} target="_blank"><Facebook /></a>
    <a href={socialLinks.linkedIn} target="_blank"><LinkedIn /></a>
    <a href={socialLinks.youtube} target="_blank"><YouTube /></a>
    <a href={socialLinks.instagram} target="_blank"><Instagram /></a>
  </div>
</footer>
