---
import Button from '@components/Button.astro';
import {USE_CASES, PRICING, FAQ} from '@lib/constants';
import AlunexLogoHeader from '@assets/AlunexLogoHeader.astro';
import BurgerIcon from 'src/assets/BurgerIcon.astro';
import CloseIcon from 'src/assets/CloseIcon.astro';

const BUTTONS_CONTENT = {
  useCases: {name: 'Use Cases', href: `#${USE_CASES}`},
  pricing: {name: 'Pricing', href: `#${PRICING}`},
  faq: {name: 'FAQ', href: `#${FAQ}`},
  signIn: {name: 'Sign In', href: '#'},
  getStarted: {name: 'Get Started', href: '#'},
};
---

<div
  id="container"
  class="sticky top-0 z-[1000] w-full flex justify-center px-[16px] pt-[8px] pb-[8px] lg:pt-[24px]"
>
  <header
    class="max-w-[1200px] w-full bg-bg-secondary/50 rounded-[24px] lg:rounded-[32px] p-[8px] pl-[16px] lg:px-[16px] lg:py-[12px] backdrop-blur-[14px]"
  >
    <div class="flex w-full flex-col">
      <div class="flex items-center justify-between w-full">
        <a href="/"><AlunexLogoHeader /></a>

        <nav class="flex items-center justify-center">
          <div class="hidden lg:flex flex-nowrap gap-x-[8px]">
            <Button
              text={BUTTONS_CONTENT.useCases.name}
              href={BUTTONS_CONTENT.useCases.href}
              variant="link"
              size="md"
            />
            <Button
              text={BUTTONS_CONTENT.pricing.name}
              href={BUTTONS_CONTENT.pricing.href}
              variant="link"
              size="md"
            />
            <Button
              text={BUTTONS_CONTENT.faq.name}
              href={BUTTONS_CONTENT.faq.href}
              variant="link"
              size="md"
            />
            <!--<Button-->
            <!--  text={BUTTONS_CONTENT.signIn.name}-->
            <!--  href={BUTTONS_CONTENT.signIn.href}-->
            <!--  variant="link"-->
            <!--  size="md"-->
            <!--/>-->
          </div>
        </nav>

        <div class="flex items-center">
          <Button
            text={BUTTONS_CONTENT.getStarted.name}
            href={BUTTONS_CONTENT.getStarted.href}
            variant="main"
            size="sm"
          />

          <button id="burgerOpenBtn" class="lg:hidden ml-[16px]">
            <BurgerIcon />
          </button>
          <button id="burgerCloseBtn" class="lg:hidden hidden ml-[16px]">
            <CloseIcon />
          </button>
        </div>
      </div>

      <div
        id="burgerMenu"
        class="lg:hidden hidden flex items-center flex-col mt-[16px]"
      >
        <Button
          text={BUTTONS_CONTENT.useCases.name}
          href={BUTTONS_CONTENT.useCases.href}
          variant="link"
          size="md"
        />
        <Button
          text={BUTTONS_CONTENT.pricing.name}
          href={BUTTONS_CONTENT.pricing.href}
          variant="link"
          size="md"
        />
        <Button
          text={BUTTONS_CONTENT.faq.name}
          href={BUTTONS_CONTENT.faq.href}
          variant="link"
          size="md"
        />
        <!--<Button-->
        <!--  text={BUTTONS_CONTENT.signIn.name}-->
        <!--  href={BUTTONS_CONTENT.signIn.href}-->
        <!--  variant="link"-->
        <!--  size="md"-->
        <!--/>-->
      </div>
    </div>
  </header>
</div>

<script>
  const burgerOpenBtn = document.getElementById('burgerOpenBtn');
  const closeBtn = document.getElementById('burgerCloseBtn');
  const burgerMenu = document.getElementById('burgerMenu');
  const container = document.getElementById('container');

  burgerOpenBtn.addEventListener('click', function () {
    burgerOpenBtn.classList.add('hidden');
    closeBtn.classList.remove('hidden');
    burgerMenu.classList.remove('hidden');
    container.classList.add('mb-[-176px]');
  });

  const handleCloseMenu = function () {
    closeBtn.classList.add('hidden');
    burgerOpenBtn.classList.remove('hidden');
    burgerMenu.classList.add('hidden');
    container.classList.remove('mb-[-176px]');
  };

  closeBtn.addEventListener('click', handleCloseMenu);

  const menuButtons = burgerMenu.querySelectorAll('button, a');
  menuButtons.forEach(button => {
    button.addEventListener('click', handleCloseMenu);
  });
</script>
