---
import Button from '@components/Button.astro';
import {USE_CASES, PRICING, FAQ} from '@lib/constants';
import AlunexLogoHeader from '@assets/AlunexLogoHeader.astro';

const BUTTONS_CONTENT = {
  useCases: {name: 'Use Cases', href: `#${USE_CASES}`},
  pricing: {name: 'Pricing', href: `#${PRICING}`},
  faq: {name: 'FAQs', href: `#${FAQ}`},
  signIn: {name: 'Sign In', href: '#'},
  getStarted: {name: 'Get Started', href: '#'},
};
---

<div
  class="sticky top-0 z-[1000] w-full flex justify-center px-0 pt-[24px] pb-[8px]"
>
  <header
    class="w-[1200px] bg-bg-secondary/50 rounded-[32px] flex items-center justify-between px-[16px] py-[12px] backdrop-blur-[14px]"
  >
    <a href="/"><AlunexLogoHeader /></a>

    <nav class="w-[40%] flex items-center justify-center">
      <div class="flex flex-nowrap gap-x-[8px]">
        <Button
          text={BUTTONS_CONTENT.useCases.name}
          href={BUTTONS_CONTENT.useCases.href}
          variant="link"
          size="md"
        />
        <Button
          text={BUTTONS_CONTENT.pricing.name}
          href={BUTTONS_CONTENT.pricing.href}
          variant="link"
          size="md"
        />
        <Button
          text={BUTTONS_CONTENT.faq.name}
          href={BUTTONS_CONTENT.faq.href}
          variant="link"
          size="md"
        />
        <Button
          text={BUTTONS_CONTENT.signIn.name}
          href={BUTTONS_CONTENT.signIn.href}
          variant="link"
          size="md"
        />
      </div>
    </nav>

    <div>
      <Button
        text={BUTTONS_CONTENT.getStarted.name}
        href={BUTTONS_CONTENT.getStarted.href}
        variant="main"
        size="sm"
      />
    </div>
  </header>
</div>
