---
import PricingPlan from '@components/PricingPlan.astro';
import {PRICING} from '@lib/constants';
import type {PricingPlanItem} from '@lib/models';

const title = 'Pricing';
const subTitle = 'Free for everyone while we are in Beta!';

const plans: PricingPlanItem[] = [
  {
    title: 'Starter',
    price: 'Free',
    isReady: true,
    benefits: [
      'Up to 5 files (no images)',
      '5MB file size max',
      'Up to 500 queries/month',
    ],
    btn: {text: 'Select'},
  },
  {
    title: 'Professional',
    price: undefined,
    isReady: false,
    benefits: [
      'Up to 5000 files',
      '50MB file size max',
      'Up to 5,000 queries/month',
      'Basic Support',
    ],
    btn: undefined,
  },
  {
    title: 'Enterprise',
    price: undefined,
    isReady: false,
    benefits: [
      'Unlimited files',
      'Images',
      '100MB file size max',
      'Unlimited queries',
      'Roles & permissions',
      'AI Agents',
      'Content Generation',
      'Email integration',
      'API',
      'Enhanced Support',
    ],
    btn: undefined,
  },
];
---

<div id={PRICING} class="flex flex-col justify-center mt-[100px] items-center">
  <h1 class="text-color-main text-h2 leading-[48px] font-bold">
    {title}
  </h1>

  <p
    class="text-color-subtitle text-h5 mt-[24px] px-[12px] py-[2px] rounded-[16px] border-[1px] border-solid border-color-blue-50"
  >
    {subTitle}
  </p>

  <div class="flex flex-nowrap mt-[64px] gap-x-[16px] w-[1000px]">
    {plans.map(plan => <PricingPlan {...plan} />)}
  </div>
</div>
