---
import Button from '@components/Button.astro';

interface UseCase {
  title: string;
  description: string;
  btn: {text: string; disabled: boolean};
  imgSources: string[];
  position: 'left' | 'right';
}

const {title, btn, position, imgSources, description} = Astro.props as UseCase;

const getPositionStyles = (pos: 'left' | 'right') =>
  pos === 'left' ? 'flex-row' : 'flex-row-reverse';
---

<div
  class=`flex flex-nowrap w-full items-center gap-x-[150px] mb-[200px] ${getPositionStyles(position)}`
>
  <div class="flex flex-1 flex-col">
    <p class="text-text-main text-h2">
      {title}
    </p>

    <p class="text-text-description text-h4 my-[24px]">
      {description}
    </p>

    <Button text={btn.text} disabled={btn.disabled} />
  </div>
  <div class="flex flex-1 flex-nowrap gap-x-[40px]">
    {imgSources.map(src => <img src={src} />)}
  </div>
</div>
