---
import Button from '@components/Button.astro';
import Status from '@components/Status.astro';
import type {UseCaseItem} from '@lib/models';
import {Image} from 'astro:assets';

const {title, description, isReady, btn, imgSrc, position, isLast} =
  Astro.props as UseCaseItem & {isLast: boolean};

const getPositionStyles = (pos: 'left' | 'right') =>
  pos === 'left' ? 'lg:flex-row' : 'lg:flex-row-reverse';
---

<div
  class=`flex flex-nowrap flex-col-reverse md:w-[480px] lg:w-full items-center lg:gap-x-[135px] ${isLast ? 'mb-0' : 'mb-[48px]'} py-[24px] ${getPositionStyles(position)}`
>
  <div class="flex flex-grow-2 flex-col items-center lg:items-start">
    <Status isReady={isReady} />

    <p
      class="text-color-case-title text-h4 leading-[32px] font-bold mt-[16px] text-center lg:text-left"
    >
      {title}
    </p>

    <p
      class="text-color-description text-h5 font-medium mt-[16px] text-center lg:text-left"
    >
      {description}
    </p>

    {
      btn && (
        <Button
          href={btn.href}
          text={btn.text}
          className="mt-[24px] sm:h-[32px] md:h-[32px] sm:text-h7 md:text-h7 lg:h-[40px] lg:text-h6"
        />
      )
    }
  </div>

  <Image
    src={imgSrc}
    alt="Use case"
    width="284px"
    class={`flex-grow w-[260px] mb-[24px] lg:w-[284px] lg:mb-[0px] ${isLast ? 'mb-0' : 'mb-[0px]'}`}
    quality="100"
    format="png"
  />
</div>
