---
import Button from '@components/Button.astro';
import Status from '@components/Status.astro';
import type {UseCaseItem} from '@lib/models';
import {Image} from 'astro:assets';

const {title, description, isReady, btn, imgSrc, position} =
  Astro.props as UseCaseItem;

const getPositionStyles = (pos: 'left' | 'right') =>
  pos === 'left' ? 'flex-row' : 'flex-row-reverse';
---

<div
  class=`flex flex-nowrap w-full items-center gap-x-[135px] mb-[48px] py-[24px] ${getPositionStyles(position)}`
>
  <div class="flex flex-grow-2 flex-col">
    <Status isReady={isReady} />

    <p class="text-color-case-title text-h4 leading-[32px] font-bold mt-[16px]">
      {title}
    </p>

    <p class="text-color-description text-h5 font-medium mt-[16px]">
      {description}
    </p>

    {btn && <Button text={btn.text} className="mt-[24px]" />}
  </div>

  <Image
    src={imgSrc}
    alt="Use case"
    width="284px"
    class="flex-grow"
    quality="100"
    format="png"
  />
</div>
