---
import Lines from '@assets/Lines.astro';
import Button from '@components/Button.astro';
import {Image} from 'astro:assets';
import welcomeBackground from '@assets/img/welcome-background.png';
import welcomeChat from '@assets/img/welcome-chat.png';

const title = 'Increase sales & productivity through artificial intelligence';
const subTitle = 'Improved margins for SMBs are just a chat away';
const btnText = 'Get started';
---

<div
  class="sm:pt-[36px] md:pt-[70px] lg:pt-[70px] flex flex-col items-center relative w-full h-[1200px] lg:h-[1420px] overflow-hidden"
>
  <div class="absolute inset-0 top-[-70px]">
    <Image
      src={welcomeBackground}
      alt="Background"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="relative z-10">
    <Lines />
  </div>

  <h1
    class="gradient-text sm:w-[300px] md:w-[450px] lg:w-[820px] mt-[8px] lg:mt-[32px] max-w-[1000px] text-h4 leading-[32px] lg:text-h1 lg:leading-[64px] text-center font-bold relative z-10"
  >
    {title}
  </h1>

  <h4
    class="mt-[32px] text-color-main text-h7 lg:text-h24 leading-[20px] text-center font-medium relative z-10"
  >
    {subTitle}
  </h4>

  <Button
    id="dynamicButton"
    text={btnText}
    variant="main"
    size="lg"
    className="mt-[32px] text-h6 font-medium relative z-10 sm:h-[40px] md:h-[40px] lg:h-[48px] invisible"
  />

  <div
    class="absolute sm:w-[600px] lg:w-[737px] sm:bottom-[20px] md:bottom-[-30px] lg:bottom-[40px]"
  >
    <Image
      src={welcomeChat}
      alt="Chat"
      class="object-cover"
      format="png"
      quality="30"
    />
  </div>
</div>

<style>
  .gradient-text {
    background: linear-gradient(100deg, #dfffe6, #7db9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
